.container {
  @apply mt-12 flex justify-center;
  .wrapper {
    @apply rounded overflow-hidden  shadow-xl bg-black bg-opacity-100 relative animate-fade;
    width: 600px;
    aspect-ratio: 16/10;

    h5 {
      @apply text-center pt-0.5;
    }
  }
}

.imageBox {
  @apply relative bg-gray-950 p-0;
  //@include fade-bg-gradient-gor();
  aspect-ratio: 16/10;
  width: 600px;

  img {
    object-fit: cover;
    object-position: center;
    @apply rounded p-0 m-0;
    filter: blur(8px);
  }

  .poster {
    object-fit: contain;
    @apply rounded p-0 m-0;
    filter: blur(0px);
  }
}
