$bar-width: 300px;

$header-height: 70px;
.layout {
  @apply relative  ;

  > div:first-child, > div:last-child {
    @apply fixed  bottom-0 overflow-y-auto flex-grow hidden lg:block flex-shrink md:hidden sm:hidden;

    max-width: $bar-width;
    background: #19181f;
    top: $header-height;


    @screen lg {
      max-width: $bar-width
    }

  }

  > div:first-child {
    @apply left-0 border-r border-r-gray-800;
  }

  > div:last-child {
    @apply right-0 border-l border-l-gray-800;
  }

  .center {
    @apply text-white   ;
    margin-top: $header-height;

    @screen lg {
      margin: $header-height $bar-width;
    }


    .slider {
      padding: 100px;
    }
  }
}

.header {


  @apply md:px-layout px-1.5 air-block fixed flex justify-between items-center top-0 left-0 z-20 opacity-90;
  width: 100vw;
  height: $header-height;

  .end {
    @apply flex  items-center gap-2;

    a {
      @apply flex-shrink-0;
    }
  }
}