$bar-width: 300px;
$header-height: 65px;
.layout {
  @apply relative;

  > div:first-child, > div:last-child {
    @apply fixed  bottom-0 overflow-y-auto;
    width: $bar-width;
    max-width:  $bar-width;
    background: #19181f;
    top: $header-height;
  }

  > div:first-child {
    @apply left-0 border-r border-r-gray-800;
  }

  > div:last-child {
    @apply right-0 border-l border-l-gray-800;
  }

  .center {
    @apply text-white ;
    margin: $header-height $bar-width;

    .slider {
      padding: 100px;
    }
  }
}

.header {


  @apply air-block fixed flex items-center top-0 left-0 z-20 opacity-90;
  width: 100vw;
  height: $header-height;
}