$header-height: 70px;

.mainStyle {
  @apply flex flex-col justify-between;
  min-height: 100vh;
  .layout {
    @apply relative;
    //background: #1d1f23;

    .center {
      @apply text-white mt-10 p-layout;
    }
  }

  .header {
    @apply lg:px-5 px-1.5 air-block rounded-none fixed flex justify-between items-center top-0 left-0 z-20 opacity-90;
    width: 100vw;
    height: $header-height;

    .start {
      @apply flex  items-center gap-2;
    }

    .menu {
      @apply flex lg:hidden   items-center  animate-fade;
      .container {
        display: inline-block;
        cursor: pointer;
        @apply h-10 w-10  border-white border-2 rounded px-0.5;
      }

      .bar1,
      .bar2,
      .bar3 {
        @apply w-8 h-0.5 opacity-100 bg-white my-2 mx-0 rounded;
        transition: 0.4s;
      }

      .change .bar1 {
        opacity: 100;
        -webkit-transform: rotate(-45deg) translate(-6px, 5px);
        transform: rotate(-45deg) translate(-6px, 5px);
      }

      .change .bar2 {
        @apply opacity-0;
      }

      .change .bar3 {
        opacity: 100;
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

      ul {
        @apply absolute top-20 right-10  p-5 rounded transition-all animate-fade border border-gray-700 rounded-layout bg-gray-800 w-60 animate-fade z-50;
        li {
          @apply ml-3 text-white truncate my-3;
        }

        &::after {
          @apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
          content: '';
          top: 28%;
          transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
      }
    }

    .end {
      @apply flex flex items-center gap-5 pr-3;

      a {
        @apply flex-shrink-0;
      }
    }
  }

  .footer{
    @apply text-gray-700 align-bottom;
  }
}
