@import '../../../assets/styles/variables';

.gallery {
  @apply flex items-center  gap-3 flex-nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .slide {
    @apply bg-none lg:w-40 flex flex-col sm:w-40 md:pl-4 pl-2 pt-10  md:w-40 w-24 xl:w-64 ;
    background-color: transparent;
  }
}

.h4 {
  @apply text-white md:text-sm text-xs text-shadow font-bold text-shadow pl-1 pt-2 z-50;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;

  span {
    @apply mr-2 rounded font-medium text-gray-500;
  }
}

.h5 {
  @apply text-gray-600 text-sm pl-1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item {
  @apply relative transition-all mr-1  border-transparent border flex  items-end shadow-lg rounded-md  will-change-contents;
  flex: 0 0 auto;

  &:hover {
    @apply border-primary border;
    filter: drop-shadow(0px 20px 20px rgba(255, 0, 0, 0.2));
    transform: scale(1.05) translateY(-10px);
    box-shadow: #e30b13;

  }

  &.vertical {
    @apply lg:w-40 lg:h-64 sm:w-36 sm:h-52 w-36 h-52  2xl:w-64  2xl:h-96 xl:w-56 xl:h-80;
  }

  &.horizontal {
    @apply mb-8 h-44;
    width: 31%;
  }

  &.withText {
    @include fade-bg-gradient2(0deg);
  }

  img {
    @apply h-full w-full bg-gray-700 rounded;
  }

  .tags {
    @apply absolute top-1 flex flex-col gap-1  -left-1;
    .tag {
      @apply font-semibold w-fit shadow-gray-600 shadow   text-xs rounded bg-white text-gray-600 px-1;
    }

    .pay {
      @apply bg-primary text-white;
    }
  }

  .content {
    @apply absolute lg:bottom-2 bottom-0.5 lg:left-1 lg:right-1  left-0.5 right-0.5 flex flex-wrap lg:flex-row lg:gap-3 flex-row gap-1  justify-center z-20;
    div {
      @apply text-center font-medium uppercase text-xs flex-nowrap;
    }
  }
}

.movies {
  @apply xl:pt-layout sm:py-2 sm:px-1 p-0 lg:px-0  grid lg:grid-cols-5 gap-y-10 xl:grid-cols-5 sm:grid-cols-4 xl:gap-x-10
  lg:gap-x-5 sm:gap-x-2 md:grid-cols-4    xl:grid-cols-5  2xl:grid-cols-5 3xl:grid-cols-6 sm:grid-cols-4 grid-cols-3;

  > a {
    @apply mx-auto md:mb-4 mb-0 lg:w-40 sm:w-32 w-24 xl:w-56 2xl:w-64 animate-fade;
  }
}

.button {
  @apply btn-primary py-2 px-10;
}

.itemAlt {
  @apply relative transition-all mr-1 overflow-hidden border-transparent border flex  items-end shadow-lg lg:rounded-2xl will-change-contents;
  flex: 0 0 auto;

  &:hover {
    //@apply border-primary border ;
    filter: drop-shadow(0px 10px 13px #ae5cd680);
    //linear-gradient(90deg, #7B4397 0%, #DC2430 100%)
    transform: scale(1.05) translateY(-10px);
    box-shadow: #e30b13;
  }

  &.vertical {
    @apply lg:w-40 lg:h-64 sm:w-36 sm:h-52  md:w-36 w-24 md:h-52 h-32 2xl:w-64  2xl:h-96 xl:w-56 xl:h-80;
  }

  &.horizontal {
    @apply mb-8 h-44;
    width: 31%;
  }
.top{
  @apply flex justify-between;
  .age {
    font-family: Oswald, sans-serif;
    @apply rounded p-1 text-lg shadow-lg text-shadow border font-bold;
  }
  button{
    @apply pb-5 pl-5;
    svg{
      @apply w-8 h-8;
    }
  }
}

  .rate {
    @apply   flex gap-2 items-center ml-1 mb-1 md:text-2xl text-sm;
    font-family: Oswald, sans-serif;
    svg {
      @apply h-5 w-5;
    }
    .imdb{
      @apply bg-white rounded px-1 pt-0.5 pb-1 text-sm  leading-none text-gray-700;
      font-family: Oswald, sans-serif;
    }
  }

  h5 {
    @apply text-white;
  }

  img {
    @apply h-full w-full bg-gray-700 lg:rounded-2xl rounded;
  }

  .content {
    @apply hidden;
    @apply absolute    transition-all;
  }

  &:hover {
    @include fade-bg-gradient2(0deg);
  }

  &:hover .content {
    @apply md:flex hidden transition-all h-full z-50 w-full top-0 left-0 p-2 pt-4 rounded-2xl shadow-lg bg-gray-950 bg-opacity-50 overflow-hidden flex flex-col justify-between;
    transition: all 0.3s;
  }
}

.pay {
  @apply text-white px-2 py-0.5 rounded inline-block mt-0 text-shadow font-bold text-xs ml-1;
  background: linear-gradient(90deg, #7B4397 0%, #DC2430 100%);
}

.free {
  @apply text-gray-600 text-shadow inline-block font-bold text-xs ml-1;
}
.serial{
  @apply text-gray-300 sm:text-xs ml-1 ;
  font-size: 11px;
}
