.menu {
  @apply mb-14 animate-fade;

  .heading {
    @apply text-gray-500 uppercase text-sm font-semibold pl-layout;
  }

  .ul {
    > li {
      @apply px-8 border-r-4 border-r-transparent transition-colors;

      > a {
        @apply flex items-center text-gray-600 pl-3 mt-6 cursor-pointer;


        > svg {
          @apply shrink-0;
        }

        > span {
          @apply ml-3 text-lg hover:text-white;
          -webkit-line-clamp: 1;        -webkit-line-clamp: 1;
			line-clamp: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
        }
      }

      &.active {
        @apply border-r-primary;

        > a > span {
          @apply text-white;
        }

        > a > svg {
          @apply fill-primary;
        }
      }
    }
  }
}
