.menu {
  @apply mb-14 animate-fade;

  .heading {
    @apply text-gray-500 uppercase text-sm font-semibold pl-5;
  }

  .ul {
    > li {
      @apply pl-5 pr-2  transition-colors;

      > a {
        @apply flex items-center text-gray-600 pl-1 mt-6 cursor-pointer;


        > svg {
          @apply shrink-0;
        }

        > span {
          @apply ml-3 text-lg hover:text-white;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      &.active {

        > a > span {
          @apply text-white;
        }

        > a > svg {
          @apply fill-primary;
        }
      }
    }
  }
}
