@mixin fade-bg-gradient($direction: 90deg) {
  &::before {
    @apply w-full h-full rounded absolute  top-0 left-0 z-1;
    content: '';

    background: linear-gradient(
                    $direction,
                    #101215 0%,
                    rgba(#101215, 0.99) 7.71%,
                    rgba(#101215, 0.96) 12.11%,
                    rgba(#101215, 0.91) 16.51%,
                    rgba(#101215, 0.85) 20.91%,
                    rgba(#101215, 0.76) 25.31%,
                    rgba(#101215, 0.67) 29.71%,
                    rgba(#101215, 0.55) 34.11%,
                    rgba(#101215, 0.44) 38.52%,
                    rgba(#101215, 0.33) 42.92%,
                    rgba(#101215, 0.23) 47.32%,
                    rgba(#101215, 0.15) 51.72%,
                    rgba(#101215, 0.08) 56.12%,
                    rgba(#101215, 0.03) 60.52%,
                    rgba(#101215, 0.01) 64.92%,
                    rgba(#101215, 0) 69.32%
    );
  }
}

@mixin fade-bg-gradient-double($direction: 90deg) {
  &::before {
    @apply w-full h-full absolute  top-0 left-0 z-1;
    content: '';

    background: linear-gradient(
                    $direction+90deg,
                    rgba(#191B1F, 1) 3.31%,
                    rgba(#191B1F, 0) 30.32%
    ), linear-gradient(
                    $direction,
                    rgba(#191B1F, 1) 3.31%,
                    rgba(#191B1F, 0) 20.32%
    );
  }
}

@mixin fade-bg-gradient-gor($direction: 90deg) {
  &::before {
    @apply w-full h-full  absolute top-0 left-0 z-2;
    content: '';

    background: linear-gradient(
                    $direction,
                    rgba(#191B1F, 1) 0%,
                    rgba(#191B1F, 0) 40.32%
    ), linear-gradient(
                    $direction+180deg,
                    rgba(#19181f, 1) 0%,
                    rgba(#19181f, 0) 40.32%
    );
  }
}
