@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import './react-select.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-900 relative;
}

//html {
//  @screen sm {
//    font-size: 10px;
//  }
//  @screen lg {
//    font-size: 16px;
//  }
//}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e30b13;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
  @apply cursor-pointer focus:outline-none
}

input:focus {
  box-shadow: none !important;
}

//скроллбар
div::-webkit-scrollbar {
  width: 0px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.0) inset;
  background-color: var(--base-color);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}


// slide animation

.slide-animation-enter {
  opacity: 0;
  transform: scale(0.9);
}

.slide-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-animation-exit {
  opacity: 1;
}

.slide-animation-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.paginate {
  @apply flex justify-center my-5;
  li {
    @apply btn-primary w-10 h-10  mx-2;

    a {
      @apply w-full h-full flex justify-center items-center;
    }
  }

  .active {
    @apply border-2 border-white
  }
}

.link {
  @apply underline
}

input[type=checkbox] {
  @apply bg-transparent rounded h-5 w-5 text-primary;
}

.arrow {
  @apply flex items-center justify-center rounded-full bg-white bg-opacity-30 text-white text-2xl p-2 animate-fade absolute z-30 ;
  top: calc(50% - 1rem);
  &.left {
    @apply right-2;
  }

  &.right {
    @apply left-2;
  }
}

.swiper-slide{
  @apply flex justify-center;
//  max-width: 1300px;
//  max-height: 700px;
}
.slider-pagination{
  @apply flex justify-center gap-1 mb-0 pb-0 bottom-0;
  .slider-pagination-bullet{
    @apply flex text-primary bg-white w-8 rounded-lg h-1 opacity-30;
    color: white;
    &.slider-pagination-bullet-active{
      @apply text-primary bg-primary;
    }
  }
}

.react-loading-skeleton {
  --base-color: #1F2125 !important;
  --highlight-color: #292A2E !important;
}
