{
  "openapi": "3.0.3",
  "info": {
    "title": "Portal API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.portal.idc.md/api/"
    },
    {
      "url": "http://api.portal.idc.md/api/"
    }
  ],
  "tags": [
    {
      "name": "general",
      "description": "Информация для отображения на главной странице"
    },
    {
      "name": "profile"
    },
    {
      "name": "files"
    }
  ],
  "paths": {
    "/main": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Получение информации для главной страницы",
        "description": "Отображение подборок и слайдеров на главной",
        "operationId": "getMain",
        "responses": {
          "200": {
            "description": "Успешный запрос"
          }
        }
      }
    },
    "/listFilter": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Список фильтров",
        "responses": {
          "200": {
            "description": "Успешный запрос"
          }
        }
      }
    },
    "/get_token": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Авторизация и получение токена",
        "description": "Вход в аккаунт",
        "operationId": "getToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "example": "000000"
                  },
                  "password": {
                    "type": "string",
                    "example": "666666"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация"
          },
          "490": {
            "description": "Указанный логин/email не существует"
          }
        }
      }
    },
    "/get_pass/{id}": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "забыли пароль",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "490": {
            "description": "Отсутствует токен"
          }
        }
      }
    },
    "/getUserProfile": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "получение данных пользователя",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "490": {
            "description": "Отсутствует токен"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "выйти",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/unsubscription": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "profile"
        ],
        "summary": "отказаться от подписки",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/category/{cid}/{limit}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "для постраничного вывода - список filesов из категории",
        "parameters": [
          {
            "in": "path",
            "name": "cid",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/{id}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "информация о файле",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/url/{id}": {
      "get": {
        "tags": [
          "files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "id - номер серии !!! берётся из массива media в методе file",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/history/{limit}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "история просмотра",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/bookmark/{limit}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "избранное",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/bookmark/change/{id}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "добавить/удалить из избранного",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/history/{limit}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "История просмотра",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/smartTV/active/{code}": {
      "get": {
        "tags": [
          "settings"
        ],
        "summary": "активировать на смарт тв",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "description": "введите код с экрана телевизора",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "490": {
            "description": "неправильный код"
          }
        }
      }
    },
    "/like/{id}/{vote}": {
      "get": {
        "tags": [
          "files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "id filesа, 0 - убрать голос, 1 дизлайк, 2 хз, 3 лайк",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "vote",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/searchExt/{limit} ": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "поиск ",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "description": "country_list - список id стран через разделитель |genre_list - список id жанров через разделитель |year - год (по справочнику)query - часть названия filesа",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/listGenre": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "список жанров",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/sendSMS": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Запро отправить смс для подтверждения покупки подписки",
        "operationId": "sendSms",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "number",
                    "example": 77814920
                  },
                  "promo": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/checkSMS": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Подтверждения - ввести код из смс",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "checkSMS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "number",
                    "example": 999999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/updatePassword": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "сменить пароль",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "updatePassword",
        "requestBody": {
          "description": "Вход с помощью  логина и пароля. В качестве логина может быть и email",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "passwordOld": {
                    "type": "string",
                    "example": "999999"
                  },
                  "password": {
                    "type": "string",
                    "example": "777777"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "HTTP-X-TOKEN"
      }
    }
  }
}