{
  "openapi": "3.0.3",
  "info": {
    "title": "Portal API",
    "version": "0.0.1"
  },

  "servers": [
    {
      "url": "https://api.portal.idc.md/api/"
    }
  ],
  "tags": [
    {
      "name": "главная",
      "description": "Информация для отображения на главной странице"
    },
    {
      "name": "profile"
    },
    {
      "name": "фильм"
    },
    {
      "name": "жанр"
    }
  ],
  "paths": {
    "/main": {
      "get": {
        "tags": [
          "главная"
        ],
        "summary": "Получение информации для главной страницы",
        "description": "Отображение подборок и слайдеров на главной",
        "operationId": "getMain",
        "responses": {
          "200": {
            "description": "Успешный запрос"
          }
        }
      }
    },
    "/listFilter": {
      "get": {
        "tags": [
          "главная"
        ],
        "summary": "Список фильтров",
        "responses": {
          "200": {
            "description": "Успешный запрос"
          }
        }
      }
    },
    "/get_token": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Авторизация и получение токена",
        "description": "Вход в аккаунт",
        "operationId": "getToken",
        "requestBody": {
          "description": "Вход с помощью  логина и пароля. В качестве логина может быть и email",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auth"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthOk"
                }
              }
            }
          },
          "490": {
            "description": "Указанный логин/email не существует"
          }
        }
      }
    },
    "/getUserProfile": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "получение данных пользователя",
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "490": {
            "description": "Отсутствует токен"
          }
        }
      }
    },
    "/get_pass/{id}": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "забыли пароль",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          },
          "490": {
            "description": "Отсутствует токен"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "выйти",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/unsubscription": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "отказаться от подписки",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/category/{cid}/{limit}": {
      "get": {
        "tags": [
          "жанр"
        ],
        "summary": "для постраничного вывода - список фильмов из категории",
        "parameters": [
          {
            "in": "path",
            "name": "cid",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/{id}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "информация о файле",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/file/url/{id}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "id - номер серии !!! берётся из массива media в методе file",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/history/{limit}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "история просмотра",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/bookmark/{limit}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "избранное",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/bookmark/change/{id}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "добавить/удалить из избранного",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/like/{id}/{vote}": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "id фильма, 0 - убрать голос, 1 дизлайк, 2 хз, 3 лайк",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "vote",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/searchExt/{limit} ": {
      "get": {
        "tags": [
          "фильм"
        ],
        "summary": "поиск ",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "allowEmptyValue": true,
            "example": 12
          }
        ],
        "description": "country_list - список id стран через разделитель |genre_list - список id жанров через разделитель |year - год (по справочнику)query - часть названия фильма",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/listGenre": {
      "get": {
        "tags": [
          "жанр"
        ],
        "summary": "список жанров",
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/sendSMS": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Запро отправить смс для подтверждения покупки подписки",
        "operationId": "sendSms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "number",
                    "example": 77814920
                  },
                  "promo": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/checkSMS": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "Подтверждения - ввести код из смс",
        "description": "33",
        "operationId": "checkSMS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "number",
                    "example": 999999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    },
    "/updatePassword": {
      "post": {
        "tags": [
          "profile"
        ],
        "summary": "сменить пароль",
        "description": "22",
        "operationId": "updatePassword",
        "requestBody": {
          "description": "Вход с помощью  логина и пароля. В качестве логина может быть и email",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "passwordOld": {
                    "type": "string",
                    "example": "999999"
                  },
                  "password": {
                    "type": "string",
                    "example": "777777"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешно"
          }
        }
      }
    }
  },
  "security": [
    {

    }
  ],
  "components": {
    "schemas": {
      "Auth": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "format": "string",
            "example": "000000"
          },
          "password": {
            "type": "string",
            "format": "string",
            "example": "666666"
          }
        }
      },
      "AuthOk": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number",
            "example": 200
          },
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "example": "варыловарылоарлыовр"
              }
            }
          }
        }
      }
    }
  }
}