.subscriptions {
  .sub {

    @apply  w-96 ;
    padding: 2px;
    background: linear-gradient(90deg, #7B4397 0%, #DC2430 100%);
    border-radius: 16px;
    .cardActive {
      @apply transition-all p-4 bg-cover ;

      background:  linear-gradient(90deg, #0C0C0C 0%, rgba(28, 28, 30, 0.00) 100%),  url("/images/settings/back_sub.jpg") ;
      border-radius: 15px;
      .period{
        @apply font-bold text-5xl gradient-text mb-2 transition-all
      }

      &:hover{
        @apply scale-105 shadow;
        .period{
          @apply pl-6 text-white text-center
        }
      }
    }
  }
}