.item{
  @apply  text-gray-300 text-xl
  font-medium rounded flex flex-col items-center
  bg-gray-600 bg-opacity-70 border-transparent border
  lg:h-64 sm:w-40 lg:w-64 sm:h-40 w-40 h-32 xl:w-64
  ;
  .img{
    @apply  h-16 w-16 lg:h-56 lg:w-56 sm:w-20 sm:h-20;
  }
  &:hover{
    @apply bg-opacity-100 transition-all border-primary border ;
    filter: drop-shadow(0px 8px 20px rgba(255, 0, 0, 0.2));
    transform: scale(1.1);
    .img{
      @apply transition-all h-96 w-96 p-0 -mt-6;
    }
  }
}
.slider{
  @apply mx-5 flex items-center pt-1 pb-10 gap-3 flex-nowrap;
  .slide {
    @apply bg-none lg:w-40 flex flex-col sm:w-40 pl-4 pt-10  w-40 xl:w-64  ;
    background-color: transparent;
  }
}
