$header-height: 70px;


.header {
  @apply lg:px-5 px-1.5 air-block rounded-none fixed flex justify-between items-center top-0 left-0 z-20 opacity-100;
  width: 100vw;
  height: $header-height;

  .start {
    @apply flex  items-center gap-2;
  }

  .menu {
    @apply items-center flex animate-fade;
    .avatar {
      //@apply flex lg:hidden;
    }


    .container {
      display: inline-block;
      cursor: pointer;
      @apply h-10 w-10 lg:hidden border-white border-2 rounded px-0.5;
    }

    .bar1,
    .bar2,
    .bar3 {
      @apply w-8 h-0.5 opacity-100 bg-white my-2 mx-0 rounded;
      transition: 0.4s;
    }

    .change .bar1 {
      opacity: 100;
      -webkit-transform: rotate(-45deg) translate(-6px, 5px);
      transform: rotate(-45deg) translate(-6px, 5px);
    }

    .change .bar2 {
      @apply opacity-0;
    }

    .change .bar3 {
      opacity: 100;
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }

    ul {
      @apply absolute top-20 right-10  p-0  transition-all animate-fade border border-gray-700 bg-gray-800 w-60 animate-fade z-50;
      li {
        @apply text-white px-5 py-2 border-b border-b-gray-500 ;
        a {
          @apply flex items-center gap-1;
          svg {
            @apply text-3xl;
          }
        }
      }

      &::after {
        @apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
        content: '';
        top: 28%;
        transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }
    }
  }

  .end {
    @apply flex flex items-center gap-5 pr-3 mr-3;

    a {
      @apply flex-shrink-0;
    }
  }
}