.header {
  @apply lg:px-5 md:px-2 px-0 pl-0 lg:h-20  md:h-16 h-12  bg-gray-900 text-white rounded-none fixed flex justify-between items-center top-0 left-0 z-20 opacity-100;
  width: 100vw;
  .logo {
    .img {
      @apply md:block;
    }

    @apply flex-shrink-0 lg:ml-5  ml-3 text-3xl text-white gap-3 flex items-center;
    .text {
      @apply md:block text-primary  mt-2 hidden;
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      font-size: 48px;
      letter-spacing: 0.06em;
    }


    span {
      @apply text-primary;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      //text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    }
  }

  .start {
    @apply flex  items-center gap-2;
  }


  .end {
    @apply flex flex-shrink-0 items-center gap-2 ;

    .ruble{
      @apply xl:px-6  lg:px-3 md:px-2 text-sm font-bold px-1.5 md:block hidden;
    }
    a {
      @apply flex-shrink-0;
    }
  }
}

