$header-height: 70px;

.header {
  @apply lg:px-5 px-1.5 bg-gray-900 text-white rounded-none fixed flex justify-between items-center top-0 left-0 z-20 opacity-100;
  width: 100vw;
  height: $header-height;

  .logo {
    @apply flex-shrink-0 ml-5 text-3xl text-white gap-3 flex items-center;
    .text {
      @apply lg:block text-primary mt-3 hidden;
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      font-size: 48px;
      letter-spacing: 0.12em;
    }

    span {
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, .5);
      background: url(https://scx2.b-cdn.net/gfx/news/2021/heat.jpg) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 80s alternate-reverse infinite;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }

    @-webkit-keyframes aitf {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }
  }

  .start {
    @apply flex  items-center gap-2;
  }


  .end {
    @apply flex flex items-center gap-5 pr-3 mr-3;

    a {
      @apply flex-shrink-0;
    }
  }
}

@keyframes bounceIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

