@import '../../../assets/styles/variables';

.slide {
  @apply text-white  md:rounded-2xl overflow-hidden;
  &.gradient{@include fade-bg-gradient(0deg);}

  .img {
    @apply  md:rounded-2xl ;
    object-fit: cover;
    height: -webkit-fill-available;
    height: 100%;
  }

  .content {
    @apply  text-white absolute h-full w-full bottom-0 md:p-10 md:pb-6 px-2 flex md:flex-col flex-row items-end md:items-start justify-between  flex-wrap md:justify-end gap-2 bottom-0 left-0 z-10;

    &:hover {
      .subtitle {
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
        //transition: 2s;
        animation: 1s ease 0.5s both ani;
      }
    }

    .title {
      @apply opacity-100 md:mb-0 mb-4  relative xl:text-5xl lg:text-4xl md:text-3xl text-sm capitalize leading-snug;
      font-family: Oswald, sans-serif;
    }

    .subtitle {
      @apply flex relative gap-1  overflow-hidden;
      z-index: -1;
      //height: 0;
      -webkit-line-clamp: 5;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 5;
      overflow: hidden;
      //transition: 2s;
      animation: 2s ease 5s both ani2;
    }

    .genres {
      @apply flex mb-2  text-shadow gap-2 hidden lg:flex  overflow-hidden;
      .year {
        @apply text-white;
      }

      .genre {
        @apply text-white;
      }

      .age {
        @apply text-white;
      }
    }

    .descriptions {
      @apply text-white;
    }

    .buttons {
      @apply flex mb-3 md:gap-4 gap-0;

      .show {
        @apply btn-primary gap-2 flex-center-between md:pl-6 md:pr-8 px-1 w-min md:py-2 py-1 transition-all shadow-2xl;
        background: linear-gradient(90deg, #7B4397 0%, #DC2430 100%);
        &:hover{
          background: linear-gradient(90deg, #7B4397 40%, #DC2430 100%);
        }
        svg{
          @apply md:h-8 md:w-8 h-5 w-5;
        }
        div{
          @apply hidden md:block;
        }
      }

      .favorites {
        @apply  md:w-10 hidden md:flex justify-center rounded text-white;
        svg{
          @apply lg:w-10 lg:h-10 h-4 w-4
        }
      }
    }
  }
}

@keyframes ani {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }

  100% {
    //height: 120px;
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes ani2 {
  0% {
    //height: 120px;
    opacity: 100%;
  }
  60% {
    //height: 120px;
    opacity: 40%;
  }
  100% {
    transform: translateY(120px);
    opacity: 0;
  }
}
