@import '../../../assets/styles/variables';

.slider {
  @apply relative ;

  max-width: 100%;
  height: auto;
  object-fit: contain;

  .slide {
    @apply h-full w-full overflow-hidden shadow-xl flex items-end;
    aspect-ratio: 147/46;
    max-height: 500px;
    //@include fade-bg-gradient-gor();

    .image {
      @apply h-full w-full image-like-bg;
      object-fit: contain;
    }

    .content {
      @apply relative z-2 p-8;

      .heading {
        @apply text-white uppercase text-3xl  font-semibold mb-1 text-shadow;
      }

      .subHeading {
        @apply text-gray-300 font-medium uppercase mb-4 text-shadow;
      }

      .button {
        @apply btn-primary p-2 px-10;
      }
    }
  }
}
