.searchBox {
  input {
    @apply rounded-full air-block m-3 outline-none shadow-none bg-transparent text-white border-transparent pl-12 h-10 w-28 px-0 py-4 flex border-none items-center transition-colors placeholder-white;
    transition: all 0.5s ease-in-out;
    //border-width: 2px;
  }

  .btnSearch {
    @apply rounded-3xl m-3 border-none pointer-events-auto outline-none absolute cursor-pointer h-14 w-14 py-4 flex text-gray-600 items-center bg-transparent;
    top: -8px;
    left: 4px;

    svg {
      @apply text-white h-8 w-8;
    }
  }

  .btnSearch:focus {
    @apply outline-none;
  }

  .btnSearch:focus ~ input {
    @apply bg-gray-600 outline-none  text-white rounded-3xl  w-80;
    transition: all 500ms ease-in-out;
  }

  input:focus {
    @apply bg-gray-600 outline-none text-white w-80  rounded-3xl;
    transition: all 500ms ease-in-out;
  }
}
