@import '../../../assets/styles/variables';

.movie {
  @apply text-gray-500 pl-5 lg:pl-layout;
  .main {
    @apply flex-col-reverse flex flex-grow flex-shrink justify-between  gap-0.5 lg:flex-row;

    .videoBox {
      .imageBox {
        @apply relative bg-gray-950 p-0  mt-12;
        //@include fade-bg-gradient-gor();
        aspect-ratio: 16/9;
        width: 600px;

        img {
          object-fit: cover;
          object-position: center;
          @apply rounded p-0 m-0;
          filter: blur(8px);
        }

        .poster {
          object-fit: contain;
          @apply rounded p-0 m-0;
          filter: blur(0px);

        }
      }

      @apply flex-grow-0 flex-shrink-0;
      .actions {
        @apply mt-3 flex-center-between;
        .buttons {
          @apply flex gap-2;
          button {
            @apply text-white flex-center-between  gap-2 bg-transparent px-4 py-2 rounded mr-5 border border-gray-600;
            svg {
              @apply text-2xl;
            }
          }

          .play {
            @apply bg-primary border-none;
          }
        }
      }
    }

    .description {
      @apply p-2  lg:p-layout text-gray-500;
      //width: 40%;

      h1 {
        @apply text-white text-4xl;
        font-family: 'Oswald', sans-serif;
      }

      h2 {
        @apply text-white text-2xl;
        font-family: 'Oswald', sans-serif;
      }

      span {
        @apply mx-2;
      }

      p {
        @apply my-4;
        .subtitle {
          @apply text-gray-600 inline mr-3;
        }

        a {
          @apply underline-offset-4 underline;
        }
      }
    }

    .right {
      min-width: 300px;

      .image {
        @include fade-bg-gradient-double(0deg);
        @apply relative;
        @apply flex-grow-0 flex-shrink-0;
        img {
          @apply rounded-none w-96 image-like-bg text-white;
        }
      }
    }
  }
}

.rating {
  @apply flex gap-2 items-center  mb-2;
  > svg {
    @apply fill-gray-600  h-10 w-10 text-2xl;
  }

  > span {
    @apply fill-gray-600  text-white font-medium pt-0.5;
  }
}

.movieContainer {
  @apply p-0 lg:p-0  ;
}

.votes {
  @apply flex items-center justify-end mt-3 gap-3;
}

.tabPanel {
  .tabs {
    @apply mb-3;
    > button {
      @apply text-lg py-3 px-3 lg:px-5 border  hover:text-white hover:opacity-100 opacity-60 mx-3 rounded transition-all;
      &.active {
        @apply text-primary opacity-100;
      }
    }
  }

  .season {
    .active {
      @apply flex  animate-fade flex-nowrap overflow-x-auto;
      .episode {
        @apply text-center hover:opacity-100 block  grow-0 shrink-0 transition m-2;
        min-width: 100px;

        width: 350px;
        @screen lg {
          min-width: 120px;
        }
        img {
          @apply h-40 w-96;
          //width: 350px;
          aspect-ratio: 16/9;
        }

        &:hover {
          //@apply shadow-yellow-700 shadow-sm;
          filter: drop-shadow(0 2px 4px #555);
        }
      }
    }
  }
}
